@model BLL.DTO.UserDTO
@{
    ViewBag.Title = "FindUser";
    Layout = "_ProfileLayout.cshtml";
}

<h2>Find User</h2>
@using (Html.BeginForm("FindUser", "Client", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td><p>Введите Email пользователя которого хотите найти</p></td>
            <td><input type="text" name="userToFind" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="Поиск" /> </td>
            <td></td>
        </tr>
    </table>
}
@if (@Model != null && @Model.Email != null)
{
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>
    </dl>
    @Html.ActionLink("Добавить в друзья", "AddFriend", "Client",new { friendId = Model.Id},null)
    <hr />
}
@if (Model == null)
{
    <p>There is no user like this</p>
}

