@model List<BLL.DTO.UserDTO>
@if (Model == null)
{
    <p></p>
}
@if (Model != null)
{
    foreach (var user in Model)
    {
        if (user != null && user.Email != null)
        {
            <dl class="dl-horizontal">
                <dt>
                    UserName
                </dt>

                <dd>
                    @user.UserName
                </dd>

                <dt>
                    Email
                </dt>

                <dd>
                    @user.Email
                </dd>

                <dt>
                    Age
                </dt>

                <dd>
                    @user.Age.ToString()
                </dd>

                <dt>
                    Address
                </dt>

                <dd>
                    @user.Address
                </dd>

                <dt>
                    Info
                </dt>

                <dd>
                    @user.Info
                </dd>
                @if (User.IsInRole("admin"))
                {
                    <dt>
                        Role
                    </dt>
                    <dd>
                        @user.Role
                    </dd>
                    <dt>
                        Banned
                    </dt>
                    <dd>
                        @user.Banned.ToString()
                    </dd>
                }
            </dl>
            if (user.Email != ViewBag.Email)
            {
                @Html.ActionLink("Add to friends", "AddFriend", "Client", new { friendId = user.Id }, null)
            }
            if (User.IsInRole("admin") && user.Role != "admin" && user.Banned == false)
            {
                <br />
                @Html.ActionLink("Ban User", "BanUser", "Client", new { userId = user.Id }, null)
                <br />
                @Html.ActionLink("Users Messages", "YourMessages", "Client", new { id = user.Id }, null)
            }
            if (User.IsInRole("admin") && user.Role != "admin" && user.Banned == true)
            {
                <br />
                @Html.ActionLink("Unban User", "UnBanUser", "Client", new { userId = user.Id }, null)
                <br />
                @Html.ActionLink("Users Messages", "YourMessages", "Client", new { id = user.Id }, null)
            }
            <hr />
        }
    }
}
