@model List<BLL.DTO.UserDTO>
@{
    ViewBag.Title = "FindUser";
    Layout = "_ProfileLayout.cshtml";
}
<h2>YourFriends</h2>

@foreach (var f in Model)
{
    <dl class="dl-horizontal">
        <dd>
            <b>Name</b>: @f.UserName
        </dd>
        <dd>
            <b>Email</b>: @f.Email
        </dd>
        <dd>
            <b>Address</b>: @f.Address
        </dd>
        <dd>
            <b>Age</b>: @f.Age
        </dd>
        <dd>
            <b>Info</b>: @f.Info
        </dd>
    </dl>
    @Html.ActionLink("Удалить из друзей", "RemoveFriend", "Client", new { friendId = f.Id }, null)
    <br />
    @Html.ActionLink("Чат", "Chat", "Client", new { friendId = f.Id }, null)
    <hr>
}


